// src/components/component-css/Step3Form.scss

.form-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
}

.form-group {
  display: flex;
  flex-direction: column;
  gap: 5px;

  label {
    font-size: 0.9em;
    color: #333;
    margin-bottom: 5px;
  }

  .form-input,
  .form-textarea {
    width: 100%;
    padding: 10px 15px;
    border: 1px solid #e0e0e0;
    @include button-base;
    background-color: #f5f5f5;
    font-size: 1em;
    @extend .text-light;
    box-sizing: border-box;
    transition: border-color 0.3s ease;

    &:focus {
      border-color: $primary-color; // La couleur utilisée pour les étapes
      outline: none;
    }

    &::placeholder {
      color: #ccc;
    }
  }

  .form-textarea {
    resize: none; // Empêche le redimensionnement de la zone de texte
  }
}
