@mixin button-base {
  border: none;
  border-radius: 8px;
  font-family: $font-family;
  padding: 0.6em 1.2em;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
}

@mixin flex-center($direction: column) {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: $direction;
}
