html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  justify-content: center;
  align-items: center;
  background-image: url("./assets/Rectangle2.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.app-container {
  width: 480px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background: white;
  padding: 32px;
  border-radius: 8px;
}

header,
main,
footer {
  margin-bottom: 20px;
}
