@import "../../components/styles/variables-css/variables.scss";
@import "../../components/styles/mixin-css/mixin.scss";

$active-color: $primary-color;
$previous-text-color: $text-light;

footer {
  background-color: #fff;
  padding-top: 35px;
  display: flex;
  justify-content: flex-end;
  border-radius: 0 0 8px 8px;

  .button-container {
    display: flex;
    gap: 10px;
  }

  .next-button,
  .done-button {
    width: 80px;
    background-color: $active-color;
    color: white;
    border: none;
    @include button-base;
    padding: 0.6em 1.2em;
    font-size: 1em;
    font-weight: 500;
    font-family: "Poppins", sans-serif;
    cursor: pointer;

    &:hover {
      background-color: lighten($active-color, 10%);
    }
  }

  .previous-button {
    background-color: transparent;
    color: $previous-text-color;
    border: none;
    padding: 0.6em 1.2em;
    font-size: 1em;
    font-weight: 500;
    font-family: "Poppins", sans-serif;
    cursor: pointer;
    transition: color 0.3s ease;

    &:hover {
      color: lighten($previous-text-color, 10%);
    }
  }
}
